*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    /* display: flexbox; */
    padding: 10px;
}
#casing{
    display: flex;
    /* margin: auto; */
    border: 10px solid rgb(255, 64, 0);
    width: auto;
    flex-wrap: wrap;
}
#main{
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
#main > #keys{
    background-color: rgb(232, 226, 226);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}

#side-keys{
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    justify-content: space-between;
    /* height: auto; */
}
#brand{
    padding: 5px;
    width: 20%;
    text-align: center;
    display: flex;
    font-size: large;
 }

 #brand > #p{
    font-size: 22px;
    font-weight: bolder;
 }

#side-keys  .buton-bas{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#side-keys  .buton{
    /* margin: 10px; */
    width: 50%;
    /* border: 1px solid black; */
    height: 50px;
}

#main .keys{
    height: 180px;
    width: 50px;
    border: 1px solid black;
    height: 250px;
}

#main .black-keys{
    height: 160px;
    width: 25px;
    background-color: black;
}


#topmost{
    background-color: white;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}
#topless{
    background-color: orangered;
    width: 15%;
   display: flex;
   height: fit-content;
}
#topless > p{
    text-align: right;
    color: orange;
    text-shadow: 2px 2px 2px white;
    font-size: 22px;
}
.btn{
    height: 100%;
    width: 50%;
    border: 1px solid black;
}
.btn-bas{
    margin-top: 5px;
    height: 150px;
    width: 50%;
    border: 1px solid black;
}
#base{
    height: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px;
}
#longbutton{
    display: flex;
}

@media only screen and (max-width:480px) {
    body{
        max-zoom: 50%;
    }
    #casing{
        width: fit-content;
        height: fit-content;
    }
}